<h1>Add an album</h1>
<form action="/albums" method="POST">
  <input type="text" name="title">
  <input type="number" name="release_year">
  <input type="number" name="artist_id">

  <input type="submit" value="Submit the form">
</form>